/* .recycleContainer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: center;
  } */
  
  .materialsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  
  .materialButton {
    background-color: #222;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }
  
  .materialButton:hover {
    background-color: #333;
  }
  
  .materialButton.selected {
    background-color: #4caf50; /* Cambia el color cuando está seleccionado */
  }
  
  .materialIcon {
    font-size: 3rem;
    margin-bottom: 10px;
    width: 1.3em;
    color: white;
    margin-bottom: 8px; 
  }
  
  .materialName {
    font-size: 1rem;
  }
  

  .selectTrigger {
    background-color: var(--color-secundary);
    color: var(--color-white);
    width: 100%;
    border: 0;
  }
  
  .selectContent {
    background-color: var(--color-secundary);
  }
  
  .selectLabel {
    color: var(--color-white);
  }
  
  .selectItem {
    color: var(--color-white);
  }

  .floatingIcon {
    position: fixed;
    bottom: 35%;
    right: 36%;
    background-color: #4caf50; /* Color del icono */
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 50px; /* Tamaño del icono */
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .floatingIcon:hover {
    background-color: #45a049; /* Color al pasar el ratón */
  }

  .chatIcon{
    width: 50px; /* Ajusta el tamaño del ícono */
    height: 30px;
    fill: white;
  }
  