.loginContainer {
    background-color: #111;
    color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  .backButton {
    align-self: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loginForm h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
  }
  
  .loginForm label {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    color: white;
    
  }
  
.input{
  padding: 10px;
  margin-bottom: 10px;
  background-color: #ccc;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: calc(100% - 22px);
}

  .passwordInput {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .showPasswordButton {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  .loginButton {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .googleButton {
    width: 100%;
    background-color: white;
    color: #4caf50;
    padding: 10px;
    border: 1px solid #4caf50;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .registerLink {
    color: #4caf50;
    text-decoration: none;
  }
  
  .forgotPassword {
    color: #4caf50;
    text-decoration: none;
    margin-left: auto;
  }
  